@import 'partials/post-list.css';

/*font stanzas -- the ttf files are all in the /fonts directory*/
@font-face {
  font-family: 'Lora';
  /*src: local('Lora'), url('/fonts/Lora-Regular.ttf') format('opentype');*/
  font-style: normal;
  font-weight: normal;
}

@font-face {
    font-family: 'Cabin';
    /*src: local('Cabin'), url('/fonts/Rubik-Light.ttf') format('opentype');*/
    font-style: normal;
    font-weight: bold;
}

@font-face {
    font-family: 'Monoid';
    src: local('Monoid'), url('/fonts/Monoid-Regular.ttf') format('opentype');
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: 'Hypno';
    src: local('Hypnopaedia'), url('/fonts/Hypnopaedia-Two.otf') format('opentype');
    font-weight: normal;
}

* {
    box-sizing: border-box;
}


html, body {
    margin: 0;
    padding: 0;
}

body {
    background: #FFF8E7;
    font-family: 'Lora', georgia, serif;
    color:#302F2F;
}


/*sets colors for links*/
a:link {
  color: #55003c;
}
a:visited {
  color: #668a99;
}
a:hover {
  color: #aa7f9d;
}

/*font for inline code*/
code {
    font-family: 'Monoid', monospace;
    font-size: 0.75em;
    font-weight: 600;
}

.main--container {
    display: flex;
    flex-direction: column;
}

/*header with wow look at that gradient*/
.main--header {
    display: flex;
    flex-direction: column;
    width: 100%;
    background: rgba(122,0,86,1);
    background: -moz-linear-gradient(45deg, rgba(122,0,86,1) 0%, rgba(121,1,86,1) 1%, rgba(81,30,81,1) 52%, rgba(63,43,79,1) 74%);
    background: -webkit-gradient(left bottom, right top, color-stop(0%, rgba(122,0,86,1)), color-stop(1%, rgba(121,1,86,1)), color-stop(52%, rgba(81,30,81,1)), color-stop(74%, rgba(63,43,79,1)));
    background: -webkit-linear-gradient(45deg, rgba(122,0,86,1) 0%, rgba(121,1,86,1) 1%, rgba(81,30,81,1) 52%, rgba(63,43,79,1) 74%);
    background: -o-linear-gradient(45deg, rgba(122,0,86,1) 0%, rgba(121,1,86,1) 1%, rgba(81,30,81,1) 52%, rgba(63,43,79,1) 74%);
    background: -ms-linear-gradient(45deg, rgba(122,0,86,1) 0%, rgba(121,1,86,1) 1%, rgba(81,30,81,1) 52%, rgba(63,43,79,1) 74%);
    background: linear-gradient(45deg, rgba(122,0,86,1) 0%, rgba(121,1,86,1) 1%, rgba(81,30,81,1) 52%, rgba(63,43,79,1) 74%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7a0056', endColorstr='#3f2b4f', GradientType=1 );
    color:white
}


.main--logo {
    border-bottom: 1px solid white;
    display: block;
    padding: 1em;
    text-align: center;
    width: 100%;
}

.main--header a {
    color: #FFF8E7;
    font-family:'Cabin', sans-serif;
    font-style: italic;
    font-size: 40px;
    font-weight:light;
    font-size: 24px;
    font-weight: bold;
    text-decoration: none;
}

.main--nav {
    padding: 1em;
    line-height: 2em;
}

.main--nav a {
    font-family:'Cabin';
    display: block;
    color: #FFF8E7;
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
}

@media (min-width: 800px) {
    .main--header {
        display: flex;
        flex-direction: row;
    }

    .main--logo {
        border: none;
        flex: 0 0 auto;
        width: auto;
    }

    .main--nav {
        display: flex;
        flex: 1 0 300px;
        justify-content: flex-end;
    }

    .main--nav a {
        padding: 0 1em;
    }
}

.main--content {
    margin: 0 auto;
    max-width: 800px;
}


/*somehow i need to separate the paragraphs within div.post from the source code within div.post so that text can flex even when there are code blocks*/


footer {
    background: #FFF8E7;
    color: #7A2156;
    font-family:'Cabin', sans-serif;
    padding: 1em;
    text-align: center;
    border-top: solid 2px #7A2156;
    font-family: 'Cabin';
    font-size: 14px;
    margin-top: 30px;
    padding: 12px 0px 12px 0px;
    /*text-align: center;*/
}

footer img {
  width: 64px;
  /*max-width: 100%;*/
  display: inline-block;
  vertical-align: middle;
  padding-top: 20px;
  padding-bottom: 20px;
}


/*font and color for titles and section headers*/
h1,h2,h3,h4,h5 {
    font-family:'Cabin', sans-serif;
    color:#4d004d;
}

h1 {
    line-height:1.2em
}


div.info {
    color: #4d004d;
    font-size: 20px;
    font-style: italic;
    text-align: center
}

div.icons {
  p {
    a {
    margin-left: 5em;
    margin-right: 2em;
    }
  }
}

.main--content {
    font-size: 18px;
    padding:0 30px 20px 30px;
}

.main--content h1 {
    font-size:46px;
    text-align:center;
}

.main--content h2 {
    font-style: italic;
    font-size: 38px;
    text-align: center;
}

.main--content h3 {
    font-size: 30px;
    text-align: left;
}

blockquote {
  background-color: #eee5eb;
  font-style: italic;
  padding: 3px 10px 3px 10px;
}

div.blurb {
    margin: 0 auto;
    padding: 5px 0px 5px 0px;
    max-width: 920px;
    width: 50%;
    background-color: #ddccd8;
    clear: both;
}

div.blurb p {
    margin-left: auto;
    margin-right: auto;
    max-width: 80%;
}
/*old blockquote and blurb color: #e0d7da , also good #ccd8dd*/

/*here begins styling for code blocks*/
.sourceCode {
    font-family: 'Monoid', monospace;
    font-size: 16px
}

div.sourceCode {
    display: block;
    flex-direction: column;
    max-width: 100%;
    box-sizing: inherit;
}

pre.sourceCode {
    padding: 3px 10px 3px 10px;
    background-color: #422f41;
}
/*older source code backgrounds colors #3a2f42; #4c3131*/
/*some pretty colors: A979A1, 79A1A9*/

table.sourceCode, tr.sourceCode,
td.lineNumbers, td.sourceCode,
table.sourceCode pre {
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;
    border: none;
}
td.lineNumbers {
    border-right: 1px solid #AAAAAA;
    text-align: right;
    color: #AAAAAA;
    padding-right: 5px;
    padding-left: 5px;
}

/* main text */
code.sourceCode { color: #FFF8E7; }
/* keyword */
.sourceCode span.kw { color: #c26c9e; font-weight: bold; }
/* import target, function name, constructors, type names */
.sourceCode span.dt { color: #dc95cf; } /*b18cbe*/
/* numbers/literals? */
.sourceCode span.dv { color: #49c6c6; }
/* */
.sourceCode span.bn { color: #49c6c6; }
/* numbers: floats */
.sourceCode span.fl { color: #49c6c6; }
/* */
.sourceCode span.ch { color: #49c6c6; }
/* string */
.sourceCode span.st { color: #7CA979; }
/* comments */
.sourceCode span.co { color: #ffccdd; font-style: italic; }
/* mostly type-level things */
.sourceCode span.ot { color: #f0ad63; }
/* */
.sourceCode span.al { color: #B84A62; font-weight: bold; }
/* operators */
.sourceCode span.fu { color: #e48cad; }
/* */
/*.sourceCode span.re { }*/
/* */
.sourceCode span.er { color: #B84A62; font-weight: bold; }
