<div class="icons">
  <p class="text-center">
    <h3>Julie Moronuki</h3>
    <h4>Co-author of <a href="//haskellbook.com/">Haskell Programming from First Principles</a>. Now working on <a href="https://joyofhaskell.com/">The Joy of Haskell</a>.</h4>
    <a href="https://twitter.com/argumatronic"><i class="fa fa-twitter fa-2x"></i></a> &emsp;
    <a href="https://github.com/GinBaby"><i class="fa fa-github-alt fa-2x"></i></a>
  </p>
</div>

<h4>CAUTION: <em>Monoid fever is contagious.</em></h4>

<h3>Most recent writing:</h3>
$partial("templates/post-list.html")$


<p>You can find more in the <a href="/archive.html">archives</a>.</p>
